extends layout

block content
  h1= title
  - let apples=[{applename:"Honey crisp",color:"red",price:40},{applename:"Gala",color:"red",price:70},{applename:"Golden delicious",color:"Gold",price:100}]
  div(class="container-fluid mt-3")
  div(class="row")
    each apple,index in apples 
        div(class="col-sm-4  m-1 p-4" style=("font-weight:bolder") onclick=`buy(${index})`) #{apple.applename} - #{apple.color} - #{apple.price}
    script.
     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }